<div id="footer" class="container">
  <footer class="footer">
    <small>
      &copy Copyright 2019 <%= link_to "Matthew D. Frazier",
      "https://www.facebook.com/matt.frazier.5030", target:"_blank" %>
      with <%= link_to "Middleman", "https://middlemanapp.com/", target:"_blank" %>
    </small>

    <div class="social-media">
      <%= link_to image_tag("https://img.icons8.com/color/60/000000/linkedin.png"), "https://www.linkedin.com/in/matthew-frazier-2879bb142/", target: "_blank" %>
      <%= link_to image_tag("https://img.icons8.com/ios/48/000000/github-filled.png"), "https://github.com/mattfraz38", target: "_blank" %>
      <%= link_to image_tag("https://img.icons8.com/office/48/000000/instagram-new.png"), "https://www.instagram.com/mattfraz/", target: "_blank" %>
    </div>

  </footer>
</div>
